@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Cousine', monospace;
}

.bgGrad {
    /* background: rgb(68, 99, 163);
    background: linear-gradient(90deg, rgba(68, 99, 163, 1) 0%, rgba(1, 133, 154, 1) 32%, rgba(0, 212, 255, 1) 100%); */
    background: rgb(68, 99, 163);
    background: linear-gradient(90deg, rgba(68, 99, 163, 1) 0%, rgba(1, 133, 154, 1) 41%, rgba(4, 200, 240, 1) 100%);
}